@model ComputerRegistry.Models.Workstation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Workstation</legend>

    <div class="display-label">PrimaryUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimaryUser)
    </div>

    <div class="display-label">InternalID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InternalID)
    </div>

    <div class="display-label">DNSName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DNSName)
    </div>

    <div class="display-label">Make</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Make.Description)
    </div>

    <div class="display-label">Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">PurchasedOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchasedOn)
    </div>

    <div class="display-label">Retire</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Retire)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ComputerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
